<!DOCTYPE html>
<html
  lang="en"
  prefix="og: https://ogp.me/ns#">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    {% include "body.njk" %} {% include "footer.njk" %}
  </body>
</html>
