<section class="page-section grid bg-1">
  <div class="page-content">
    <div class="block x-2 w-10 h-4 y-5 large">
      <p class="large">
        <span class="dome-dreaming-text">dome dreaming</span> is an interdisciplinary festival divided between Wisdome Stockholm and Malmö,
        two newly built state-of-the-art domes. Featuring fulldome visuals and ambisonic sound, it showcases narrative films, live
        performances, and interactive installations. The festival explores the potential of the dome format through Nordic-Baltic
        collaboration, a curated screening programme, open call and student participation.
      </p>
    </div>

    <div class="block x-2 w-14 y-13 h-2">
      <a
        href="https://forms.gle/vatrcmZZBhLMNHsN7"
        target="_blank"
        rel="noreferrer"
        class="button"
        aria-label="Join the open call">
        Join the open call
      </a>
    </div>
  </div>
</section>
