{% from "macros/blocks.njk" import imageBlock %}
<section class="page-section grid bg-3">
  <div class="page-content">
    {{ imageBlock("assets/img/png/movie-drome.png", "Movie-Drome", 2, 12, 12, 2, "Movie-Drome") }}
    {{ imageBlock("assets/img/jpg/la-sat-montreal.jpg", "La SAT Montreal", 3, 12, 12, 3, "La SAT Montreal") }}
    {{ imageBlock("assets/img/jpg/the-new-infinity.jpg", "The New Infinity", 4, 12, 12, 4, "The New Infinity") }}
  </div>
</section>
