<section class="page-section grid bg-2">
  <div class="page-content">
    <div class="block x-2 w-2 h-14 y-2">
      <img
        src="assets/img/movie-drome.png"
        alt="Movie-Drome"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">Movie-Drome</figcaption>
    </div>
    <div class="block x-4 w-2 h-14 y-2">
      <img
        src="assets/img/la-sat-montreal.jpg"
        alt="La SAT Montreal"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">La SAT Montreal</figcaption>
    </div>
    <div class="block x-6 w-2 h-14 y-2">
      <img
        src="assets/img/the-new-infinity.jpg"
        alt="The New Infinity"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">The New Infinity</figcaption>
    </div>

    <div class="block x-8 w-2 h-14 y-2">
      <img
        src="assets/img/aavistus-festival.jpg"
        alt="Aavistus Festival"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Aavistus</figcaption>
    </div>
    <div class="block x-10 w-2 h-14 y-2">
      <img
        src="assets/img/baltic-analog-lab.jpg"
        alt="Baltic Analog Lab"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Baltic Analog Lab</figcaption>
    </div>
    <div class="block x-12 w-2 h-14 y-2">
      <img
        src="assets/img/nonagon-festival.jpg"
        alt="Nonagon Festival"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Nonagon</figcaption>
    </div>
    <div class="block x-14 w-2 h-14 y-2">
      <img
        src="assets/img/kokong-festival.jpg"
        alt="Kokong Festival"
        loading="lazy"
        decoding="async"
        width="800"
        height="600" />
      <figcaption class="image-caption">Kokong</figcaption>
    </div>
  </div>
</section>
