<section class="page-section grid bg-6">
  <div class="page-content">
    <div class="block center x-5 w-8 h-4 y-4">
      <p>
        <span class="dome-dreaming-text">dome dreaming</span> is a non-profit festival produced by
        <a
          href="https://www.jonasjohanssn.se/"
          target="_blank"
          >Jonas Johansson</a
        >,
        <a
          href="https://www.ivar.studio/"
          target="_blank"
          >Fredrik Edström</a
        >
        and
        <a
          href="https://www.linkedin.com/in/sebastian-h%C3%A4ger-53054b155/"
          target="_blank"
          >Sebastian Häger</a
        >, in collaboration with
        <a
          href="https://www.nava.community"
          target="_blank"
          rel="noreferrer"
          >Nordic Audiovisual Artists</a
        >,
        <a
          href="https://nonagonfestival.se"
          target="_blank"
          rel="noreferrer"
          >Nonagon</a
        >,
        <a
          href="https://aavistusfestival.fi"
          target="_blank"
          rel="noreferrer"
          >Aavistus</a
        >,
        <a
          href="https://www.instagram.com/kokongfestival/"
          target="_blank"
          rel="noreferrer"
          >Kokong</a
        >
        and
        <a
          href="https://www.balticanaloglab.lv/"
          target="_blank"
          rel="noreferrer"
          >Baltic Analog Lab</a
        >. Supported by Tekniska museet, Malmö Stad and Region Stockholm.
      </p>
    </div>

    <div class="block x-4 w-2 h-4 y-9 o-5">
      <img
        src="assets/img/aavistus-festival.jpg"
        alt="Aavistus Festival"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Aavistus</figcaption>
    </div>
    <div class="block x-6 w-2 h-4 y-9 o-5">
      <img
        src="assets/img/baltic-analog-lab.jpg"
        alt="Baltic Analog Lab"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Baltic Analog Lab</figcaption>
    </div>
    <div class="block x-8 w-2 h-4 y-9 o-5">
      <img
        src="assets/img/nonagon-festival.jpg"
        alt="Nonagon Festival"
        loading="lazy"
        decoding="async"
        width="600"
        height="400" />
      <figcaption class="image-caption">Nonagon</figcaption>
    </div>
    <div class="block x-10 w-2 h-4 y-9 o-5">
      <img
        src="assets/img/kokong-festival.jpg"
        alt="Kokong Festival"
        loading="lazy"
        decoding="async"
        width="800"
        height="600" />
      <figcaption class="image-caption">Kokong</figcaption>
    </div>
    <div class="block x-12 w-2 h-4 y-9 o-5">
      <img
        src="assets/img/tiny-massive-2.jpg"
        alt="Nordic Audiovisual Artists"
        loading="lazy"
        decoding="async"
        width="800"
        height="600" />
      <figcaption class="image-caption">Nordic Audiovisual Artists</figcaption>
    </div>

    <div class="block center x-2 w-14 h-1 y-15">
      <p class="small">
        3D model by
        <a
          href="https://smash.studio/"
          target="_blank"
          >Ashley Reed</a
        >. Original dome visualiser by <a href="https://www.instagram.com/possan/">Per-Olov Jernberg</a>. Design and development by
        <a
          href="https://jonasjohansson.se/"
          target="_blank"
          >Jonas Johansson</a
        >.<br />Dome Dreaming is not affiliated with Wisdome or Norrköping Visauliseringscenter.
      </p>
    </div>
  </div>
</section>
