<section class="page-section responsive grid bg-5">
  <div class="page-content">
    <div class="block responsive x-2 w-14 h-14 y-2">
      <h2>A NEW DOME</h2>
      <p>
        As part of
        <a
          href="https://wisdomesweden.se/"
          target="_blank"
          >Wisdome</a
        >
        Tekniska museet and Malmö Museer introduced cutting-edge dome theaters with 180-degree visuals and ambisonic sound. While Wisdome
        centers on scientific visualisation, its potential goes further. Dome theaters are now a platform for artistic expression in Sweden,
        opening the door for cross-disciplinary collaboration and creation.
      </p>
      <h2>THE DREAMING ETHOS</h2>
      <p>
        Drawing from expanded cinema, visions of the present, and black mountain college—three movements that redefined artistic and
        technological boundaries. <span class="dome-dreaming-text">DOME DREAMING</span> adapts these radical ideas to the dome format,
        transforming cinema from a passive experience into an immersive 180-degree space where storytelling, sound, and visuals converge.
      </p>
      <p>
        Despite Sweden's new domes, funding and recognition for experimental film and dome content remain scarce—especially beyond science
        and education.
      </p>
      <h2 class="break">BEYOND WISDOME</h2>
      <p>
        Domes have long served as a canvas for artistic exploration and collaboration. In the 1960s, Steve VanDerBeek created Movie-Drome—a
        pioneering prototype for networked image communication, made as a collaborative tool long before the Internet. Buckminster Fuller,
        too, reimagined the potential of domes, using them as structures to unite artistic disciplines and push the boundaries of
        architecture.
      </p>
      <p>
        Since 1996, La SAT in Montreal has been a beacon for dome innovation. Each week they invite musicians and visual artists, opening up
        the dome. Other notable initiatives, such as Visions of the Now (2015–2017), The New Infinity in Berlin (2018–2021), and the Lumen
        Project (2019–) in Eric Ericssonhallen, have further expanded the scope of immersive experiences.
      </p>
      <p>
        <span class="dome-dreaming-text">DOME DREAMING</span> stands on the shoulder of giants, inspired by these pioneering efforts, but
        with an eye toward alternative paths. By pushing the limits of immersive media, we aim to explore the unique, transformative
        potential of the dome while creating our own. To learn more,
        <a href="https://domedreaming.com/DOME%20DREAMING.pdf">read the full presentation</a>.
      </p>
    </div>
  </div>
</section>
