<section class="page-section grid bg-3">
  <div class="page-content">
    <div class="block x-2 w-12 h-12 y-2">
      <img
        src="assets/img/movie-drome.png"
        alt="Movie-Drome"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">Movie-Drome</figcaption>
    </div>
    <div class="block x-3 w-12 h-12 y-3">
      <img
        src="assets/img/la-sat-montreal.jpg"
        alt="La SAT Montreal"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">La SAT Montreal</figcaption>
    </div>
    <div class="block x-4 w-12 h-12 y-4">
      <img
        src="assets/img/the-new-infinity.jpg"
        alt="The New Infinity"
        loading="lazy"
        decoding="async" />
      <figcaption class="image-caption">The New Infinity</figcaption>
    </div>
  </div>
</section>
