{% from "macros/blocks.njk" import imageBlock %}
<section class="page-section grid bg-2">
  <div class="page-content">
    {{ imageBlock("assets/img/jpg/wisdome-stockholm-exterior.jpg", "Wisdome Stockholm exterior view", 2, 13, 13, 2, "Wisdome Stockholm") }}
    {{ imageBlock("assets/img/jpeg/wisdome-malmo-exterior.jpeg", "Wisdome Malmö exterior view", 3, 13, 13, 3, "Wisdome Malmö") }}
  </div>
</section>
