<div id="loading-overlay"></div>
<header>
  <div class="header-left">
    <img src="assets/img/svg/dome-dreaming.svg" alt="Dome Dreaming" class="header-logo" />
    <span>DOME DREAMING</span>
    <span class="header-dates">Stockholm 7–9 May · Malmö 12 May 2025</span>
  </div>
  <div class="header-right">
    <a href="https://instagram.com/domedreamingfestival" target="_blank" rel="noreferrer">@domedreamingfestival</a>
    <a href="mailto:info@domedreaming.com">info@domedreaming.com</a>
  </div>
</header>
<main class="grid">
  {% include "sections/section-1.njk" %} {% include "sections/section-2.njk" %} {% include "sections/section-3.njk" %} {% include
  "sections/section-4.njk" %} {% include "sections/section-5.njk" %} {% include "sections/section-6.njk" %}
</main>
