<script type="importmap">
  {
    "imports": {
      "three": "./assets/js/libs/three/three.module.js",
      "three/addons/loaders/GLTFLoader.js": "./assets/js/libs/three/GLTFLoader.js",
      "three/addons/loaders/DRACOLoader.js": "./assets/js/libs/three/loaders/DRACOLoader.js",
      "three/addons/utils/": "./assets/js/libs/utils/",
      "three/addons/postprocessing/": "./assets/js/libs/three/addons/postprocessing/",
      "three/addons/shaders/": "./assets/js/libs/three/addons/shaders/",
      "three/addons/lines/": "./assets/js/libs/three/addons/lines/",
      "@recast-navigation/core": "./assets/js/libs/recast-navigation/core/index.mjs",
      "@recast-navigation/wasm": "./assets/js/libs/recast-navigation/core/recast-navigation.wasm-compat.js",
      "@recast-navigation/generators": "./assets/js/libs/recast-navigation/generators/index.mjs",
      "@recast-navigation/three": "./assets/js/libs/recast-navigation/three/index.mjs"
    }
  }
</script>

<script
  type="module"
  src="assets/js/main.js"
  defer></script>
