<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/",
      "@recast-navigation/core": "https://cdn.jsdelivr.net/npm/@recast-navigation/core@0.43.0/dist/index.mjs",
      "@recast-navigation/wasm": "https://cdn.jsdelivr.net/npm/@recast-navigation/wasm@0.43.0/dist/recast-navigation.wasm-compat.js",
      "@recast-navigation/generators": "https://cdn.jsdelivr.net/npm/@recast-navigation/generators@0.43.0/dist/index.mjs",
      "@recast-navigation/three": "https://cdn.jsdelivr.net/npm/@recast-navigation/three@0.43.0/dist/index.mjs"
    }
  }
</script>

<script
  type="module"
  src="assets/js/main.js"
  defer></script>
