#shader_stage {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  isolation: isolate;
  transform: scale(1.15) translate(2vw, -2vw);
  z-index: 9999;
  pointer-events: none;
}

#shader_canvas1,
#shader_canvas2,
#shader_grain {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#shader_canvas1 {
  z-index: 1;
  pointer-events: none;
}

#shader_canvas2 {
  z-index: 2;
  pointer-events: none;
}

#shader_grain {
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: 200px 200px;
  background-repeat: repeat;
  mix-blend-mode: overlay;
}

