#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-loading);
  opacity: 1;
}

#loading.hidden {
  display: none;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, var(--opacity-light));
  border-top: 3px solid #ffffff;
  border-radius: var(--radius-full);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main h1 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin: 0;
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-base);
}

main h2 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin: 0;
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-base);
}

main p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  margin: 0;
  margin-bottom: 24px;
}

main p:last-child {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

@media (max-width: 768px) {
  main p {
    line-height: 1.4;
    margin-bottom: calc(var(--font-size-base) * 1.4);
  }
}

main h3 {
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-normal);
}

main strong {
  font-weight: var(--font-weight-medium);
}

.dome-dreaming-text {
  font-family: "KovskijDisplay", var(--font-family);
  font-weight: normal;
  text-transform: uppercase;
}

.pad-r-1 {
  padding-right: calc(var(--col-width) / 10);
}
.pad-r-2 {
  padding-right: calc(var(--col-width) * 2 / 10);
}
.pad-r-3 {
  padding-right: calc(var(--col-width) * 3 / 10);
}
.pad-r-4 {
  padding-right: calc(var(--col-width) * 4 / 10);
}
.pad-r-5 {
  padding-right: calc(var(--col-width) * 5 / 10);
}
.pad-r-6 {
  padding-right: calc(var(--col-width) * 6 / 10);
}
.pad-r-7 {
  padding-right: calc(var(--col-width) * 7 / 10);
}
.pad-r-8 {
  padding-right: calc(var(--col-width) * 8 / 10);
}
.pad-r-9 {
  padding-right: calc(var(--col-width) * 9 / 10);
}
.pad-r-10 {
  padding-right: var(--col-width);
}
