/* Dots grid system */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--actual-vh);
  background-image: radial-gradient(circle, var(--color-dot) 1px, transparent 1px);
  background-size: var(--col-width) var(--row-height);
  background-position: calc(var(--col-width) / 2) calc(var(--row-height) / 2);
  pointer-events: none;
  z-index: var(--z-dots);
  opacity: 0;
}

.dome-mode #dots {
  opacity: 0;
}

#dots {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
  z-index: 10002;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, var(--row-height));
  column-gap: var(--grid-gap);
  row-gap: 0;
}

@keyframes dotFade {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.dot {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: var(--color-dot);
  justify-self: start;
  align-self: start;
  opacity: 0.5;
  display: block;
  pointer-events: none !important;
  cursor: default;
  /* animation: dotFade 2s ease-in-out infinite;
  animation-delay: calc(var(--dot-delay, 0) * var(--dot-animation-delay-constant)); */
}
